<footer class="site-footer">
    <div class="footer-inner">
        <div class="footer-left">
            <p class="footer-disclosure">
                当サイトはアフィリエイト広告を利用しています
            </p>
            <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
            <a href="https://developers.rakuten.com/" target="_blank">Supported by Rakuten Developers</a>
            <!-- Rakuten Web Services Attribution Snippet TO HERE -->
            <p class="footer-copy">
                © 2026 ポケスリ相場ナビ
            </p>
        </div>

        <div class="footer-right">
            <a href="./policy.html">プライバシーポリシー・免責事項</a>
        </div>
    </div>
</footer>
